<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="my-2 mb-1">Favorite Links</h1>
            <h3 class="my-1 mb-5"><em>Store your favorite links</em></h3>

            <a href="/signup" class="btn btn-primary">Empecemos</a>
            <a href="/login" class="btn btn-secondary">Iniciar sesión</a>
        </div>
    </header>
</main>
