<footer class="footer-custom section footer-classic font-small context-dark bg-image" style="background: #343a40;">
  <div class="container">
    <div class="footer-copyright text-center py-3" style="color: white;">© 2020 Copyright: <a href="#"> Dev. Carmen Soto</a> </div>
  </div>
</footer>
